In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'DEMO_PHQ.csv')

In [3]:
df[['SEQN' , 'DPQ010' , 'DPQ020' , 'DPQ030' , 'DPQ040' , 'DPQ050' , 'DPQ060', 'DPQ070' , 'DPQ080' , 'DPQ090']]

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
5329,41466,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5330,41468,0.0,2.0,0.0,1.0,1.0,2.0,1.0,3.0,0.0
5331,41469,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5332,41472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5333,41473,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0

In [4]:
df['DPQ010'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ020'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ030'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ040'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ050'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ060'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ070'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ080'].replace([6, 7] , [0, 0], inplace = True)
df['DPQ090'].replace([6, 7] , [0, 0], inplace = True)

In [5]:
df['DPQ010'].fillna(0, inplace = True)
df['DPQ020'].fillna(0, inplace = True)
df['DPQ030'].fillna(0, inplace = True)
df['DPQ040'].fillna(0, inplace = True)
df['DPQ050'].fillna(0, inplace = True)
df['DPQ060'].fillna(0, inplace = True)
df['DPQ070'].fillna(0, inplace = True)
df['DPQ080'].fillna(0, inplace = True)
df['DPQ090'].fillna(0, inplace = True)

In [6]:
df['phq9'] = df['DPQ010'] + df['DPQ020'] + df['DPQ030'] + df['DPQ040'] + df['DPQ050'] + df['DPQ060'] + df['DPQ070'] + df['DPQ080'] + df['DPQ090']

In [7]:
df.phq9.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    4.0
Name: phq9, dtype: float64

In [8]:
df[['SEQN' , 'phq9']]

       SEQN  phq9
0     31130   0.0
1     31131   0.0
2     31132   0.0
3     31134   0.0
4     31139   4.0
...     ...   ...
5329  41466   2.0
5330  41468  10.0
5331  41469   2.0
5332  41472   0.0
5333  41473   4.0

[5334 rows x 2 columns]

In [9]:
lista = df[['SEQN' , 'phq9']]

In [10]:
lista

       SEQN  phq9
0     31130   0.0
1     31131   0.0
2     31132   0.0
3     31134   0.0
4     31139   4.0
...     ...   ...
5329  41466   2.0
5330  41468  10.0
5331  41469   2.0
5332  41472   0.0
5333  41473   4.0

[5334 rows x 2 columns]

In [11]:
df2 = pd.read_csv(r'PAG_HEI.csv')

In [12]:
df2.fillna(0, inplace = True)

In [13]:
df2

,SEQN,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31128,0.000000,0.0,3.083350,0.000000,3.927008,5.000000,0.000000,5.000000,4.251329,0.000000,2.487572,6.911882,10.000000,0.818029,6.408092,47.887262
1,31129,285.450346,2.0,1.697761,0.000000,3.731602,4.929186,0.527631,3.887809,4.693141,0.928562,3.740758,6.146441,7.274979,8.006457,0.000000,45.564326
2,31130,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,31131,264.711316,2.0,3.115103,0.000000,5.000000,1.320674,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
4,31132,1353.348730,3.0,3.509081,0.000000,5.000000,5.000000,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9419,41469,184.711316,2.0,2.555935,0.000000,2.613733,0.000000,0.000000,2.151846,5.000000,0.000000,9.344947,3.535211,4.326307,5.269780,8.195564,42.993323
9420,41471,951.478060,3.0,2.674192,3.769401,2.198817,0.517369,0.463168,4.662005,5.000000,1.191796,6.145146,3.189620,3.766149,3.974279,7.758940,45.310883
9421,41472,27.713626,1.0,2.457422,2.930799,2.311917,0.000000,0.933303,5.000000,5.000000,5.000000,2.090534,8.409844,8.936854,3.063795,0.000000,46.134467
9422,41473,685.912240,3.0,3.907340,5.000000,0.000000,0.000000,0.000000,5.000000,5.000000,5.000000,0.000000,7.458058,10.000000,1.676912,2.751168,45.793478
9423,41474,0.000000,1.0,1.238646,4.610515,0.688137,0.240848,5.000000,5.000000,4.304982,5.000000,2.162293,7.018993,10.000000,7.541082,0.000000,52.805494

In [14]:
merged = lista.merge(df2, on='SEQN')

In [15]:
merged

,SEQN,phq9,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31130,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,31131,0.0,264.711316,2.0,3.115103,0.000000,5.000000,1.320674,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
2,31132,0.0,1353.348730,3.0,3.509081,0.000000,5.000000,5.000000,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
3,31134,0.0,1011.478060,3.0,2.845772,1.283933,2.629005,5.000000,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
4,31139,4.0,1729.145497,3.0,5.000000,0.000000,0.991614,0.056664,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5329,41466,2.0,9.237875,1.0,2.885575,1.260753,5.000000,5.000000,4.607930,2.555736,5.000000,4.672204,4.633477,0.000000,6.580006,8.393244,9.360990,59.949915
5330,41468,10.0,173.210162,2.0,5.000000,2.851503,5.000000,5.000000,3.041603,5.000000,3.759596,2.344264,4.780282,3.134216,1.986137,5.850269,10.000000,57.747869
5331,41469,2.0,184.711316,2.0,2.555935,0.000000,2.613733,0.000000,0.000000,2.151846,5.000000,0.000000,9.344947,3.535211,4.326307,5.269780,8.195564,42.993323
5332,41472,0.0,27.713626,1.0,2.457422,2.930799,2.311917,0.000000,0.933303,5.000000,5.000000,5.000000,2.090534,8.409844,8.936854,3.063795,0.000000,46.134467
5333,41473,4.0,685.912240,3.0,3.907340,5.000000,0.000000,0.000000,0.000000,5.000000,5.000000,5.000000,0.000000,7.458058,10.000000,1.676912,2.751168,45.793478

In [16]:
merged.to_csv(r'result_filtrado.csv', index=False)

In [17]:
df = pd.read_csv('result_filtrado.csv')

In [18]:
def grp_sint(df):
  if df['phq9'] < 5:
    return 0
  elif 5 <= df['phq9'] < 10:
    return 1
  elif 10 <= df['phq9'] < 15:
    return 2 
  elif 15 <= df['phq9'] < 19:
    return 3
  else:
    return 4

In [19]:
df['phq_grp']=df.apply(grp_sint, axis=1)
df.sample(10)

,SEQN,phq9,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE,phq_grp
4251,39389,0.0,263.279446,2.0,3.898041,5.000000,2.376957,0.139821,2.560278,5.000000,5.000000,5.000000,6.763351,0.000000,8.833110,5.754195,7.434941,57.760694,0
3823,38601,6.0,554.272517,3.0,0.844304,0.000000,0.000000,0.000000,0.000000,0.087479,5.000000,5.000000,10.000000,10.000000,10.000000,6.270138,5.053557,52.255477,1
2995,37002,2.0,4157.043880,3.0,3.436252,5.000000,0.000000,0.000000,0.000000,0.256553,5.000000,0.000000,10.000000,1.099376,5.437910,10.000000,1.835208,42.065299,0
3186,37388,0.0,422.632794,3.0,5.000000,1.446680,1.085010,2.101130,1.285937,5.000000,3.472031,5.000000,8.054487,2.189155,10.000000,2.170192,9.455738,56.260359,0
218,31556,0.0,1518.394919,3.0,1.403913,0.000000,5.000000,5.000000,3.308017,0.895813,5.000000,0.000000,8.069504,0.000000,8.329114,9.812342,6.083739,52.902441,0
786,32744,0.0,55.427252,1.0,3.989654,2.572639,5.000000,5.000000,1.008878,5.000000,4.194915,3.499546,5.144186,5.807775,3.035351,7.631129,7.196871,59.080945,0
753,32687,0.0,58.891455,1.0,4.909492,0.000000,0.413299,0.000000,4.898359,5.000000,5.000000,5.000000,0.000000,0.000000,0.241881,6.351212,10.000000,41.814243,0
2829,36687,1.0,48.498845,1.0,2.272727,0.000000,2.417127,0.103591,4.346225,5.000000,3.784530,1.191298,0.907412,4.352363,4.238674,2.853695,5.640459,37.108102,0
2146,35369,0.0,150.000000,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
2741,36502,3.0,0.000000,1.0,2.726215,5.000000,2.004070,4.008141,4.552251,5.000000,4.459212,5.000000,3.647931,2.990530,5.490414,2.547267,3.664123,51.090156,0

In [20]:
analise = df[['SEQN' , 'phq9', 'phq_grp']]

In [21]:
analise

       SEQN  phq9  phq_grp
0     31130   0.0        0
1     31131   0.0        0
2     31132   0.0        0
3     31134   0.0        0
4     31139   4.0        0
...     ...   ...      ...
5329  41466   2.0        0
5330  41468  10.0        2
5331  41469   2.0        0
5332  41472   0.0        0
5333  41473   4.0        0

[5334 rows x 3 columns]